<div class="navbar navbar-inverse navbar-fixed-top">
  
   <div class="container">
       <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="#">SIRI</a>
       </div>
       <div class="navbar-collapse collapse">
           <ul class="nav navbar-nav navbar-right">
               <li><a href="#home-sec">HOME</a></li>
               <li><a href="#about">ABOUT</a></li>
                <li><a href="#project">PROJECT</a></li>
               <li><a href="#pricing">PRICING</a></li>
               <li><a href="#contact">CONTACT</a></li>
           </ul>
       </div>
      
   </div>
</div>
