<section id="testimonial" >
  <div class="container">
<div class="row ">
      <div class="col-md-12">
          <div id="carousel-example" class="carousel slide" data-ride="carousel">

              <ol class="carousel-indicators">
                  <li data-target="#carousel-example" data-slide-to="0" class=""></li>
                  <li data-target="#carousel-example" data-slide-to="1" class=""></li>
                  <li data-target="#carousel-example" data-slide-to="2" class=""></li>
              </ol>

              <div class="carousel-inner">
                  <div class="item">
                      <div class="container center">
                          <div class="col-md-6 col-md-offset-3 slide-custom">
                             
                              <h4><i class="fa fa-quote-left"></i>
                                  
                                  <i class="fa fa-quote-right"></i></h4>
                               <div class="user-img pull-right">
      <img src=" http://icons.iconarchive.com/icons/visualpharm/must-have/256/User-icon.png" alt="" class="img-u image-responsive img-circle">
    </div>
                              <h5 class="pull-right"><strong class="c-set" ></strong></h5>
                          </div>
                      </div>
                  </div>
                  <div class="item active left">
                      <div class="container center">
                          <div class="col-md-6 col-md-offset-3 slide-custom">
                              <h4> <i class="fa fa-quote-left"></i>  <i class="fa fa-quote-right"></i></h4>
                                   <div class="user-img pull-right">
      <img src="http://downloadicons.net/sites/default/files/business-user-icon-44613.png" alt="" class="img-u image-responsive">
    </div>
                              <h5 class="pull-right"><strong class="c-set" ></strong></h5>
                          </div>
                      </div>
                  </div>
                  <div class="item next left">
                      <div class="container center">
                          <div class="col-md-6 col-md-offset-3 slide-custom">
                              <h4><i class="fa fa-quote-left"></i>presenting a project report <i class="fa fa-quote-right"></i></h4>
                                  <div class="user-img pull-right">
      <img src="http://icons.iconarchive.com/icons/aha-soft/people/256/user-icon.png" alt="" class="img-u image-responsive">
    </div>
                              <h5 class="pull-right"><strong class="c-set">siri</strong></h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
      </div>
  </section>
