#home-sec { 
    
      
  background: url(../home/home.jpg) no-repeat 50% 50%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display: block;
  height: auto;
   padding-top:190px;
     min-height:500px;
      color:#fff;
  }
  
  .head-main {
      font-size:80px ;
      font-weight:900;
      padding:15px;
      text-transform:uppercase;
      
  }
  
  .head-last {
       margin-top:70px;
      font-size:25px ;
      font-weight:900;
      padding:5px 20px 20px 20px;
      padding:5px;
  }